/* app css stylesheet */

.messages{
  list-style-type: none;
  background-color: #EEE;
  width: 400px;
  margin: 15px;
  padding: 35px;
}
.messages .title{
    font-weight: bold;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.pull-right{
    float: right;
}
.messages .filters{
    margin-bottom: 10px;
}
